[submodule ".emacs.d/elpa/yasnippet"]
	path = .emacs.d/elpa/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
	ignore = dirty
[submodule ".emacs.d/elpa/rhtml"]
	path = .emacs.d/elpa/rhtml
	url = git://github.com/eschulte/rhtml.git
	ignore = dirty
[submodule ".emacs.d/elpa/python"]
	path = .emacs.d/elpa/python
	url = git://github.com/emacsmirror/python-mode.git
	ignore = dirty
[submodule ".emacs.d/elpa/emacs-clang-complete-async"]
	path = .emacs.d/elpa/emacs-clang-complete-async
	url = git://github.com/Golevka/emacs-clang-complete-async.git
	ignore = dirty
[submodule ".emacs.d/elpa/hungry-delete"]
	path = .emacs.d/elpa/hungry-delete
	url = git://github.com/nflath/hungry-delete.git
	ignore = dirty
[submodule ".emacs.d/elpa/el-get"]
	path = .emacs.d/elpa/el-get
	url = https://github.com/dimitri/el-get.git
