[submodule ".emacs.d/elpa/yasnippet"]
	path = .emacs.d/elpa/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/elpa/rhtml"]
	path = .emacs.d/elpa/rhtml
	url = git://github.com/eschulte/rhtml.git
