[submodule ".emacs.d/elpa/yasnippet"]
	path = .emacs.d/elpa/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/elpa/rhtml"]
	path = .emacs.d/elpa/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule ".vim/addons/Auto_Pairs"]
	path = .vim/addons/Auto_Pairs
	url = git://github.com/jiangmiao/auto-pairs
[submodule ".vim/addons/Powerline"]
	path = .vim/addons/Powerline
	url = git://github.com/Lokaltog/vim-powerline.git 
[submodule ".vim/addons/Tagbar"]
	path = .vim/addons/Tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/addons/clang_complete"]
	path = .vim/addons/clang_complete
	url = git://github.com/exclipy/clang_complete.git
[submodule ".vim/addons/dwm"]
	path = .vim/addons/dwm
	url = git://github.com/spolu/dwm.vim
[submodule ".vim/addons/fugitive"]
	path = .vim/addons/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".vim/addons/snipmate"]
	path = .vim/addons/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/addons/tabular"]
	path = .vim/addons/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/addons/vim-addon-manager"]
	path = .vim/addons/vim-addon-manager
	url = git://github.com/MarcWeber/vim-addon-manager.git
[submodule ".vim/addons/vim-addon-manager-known-repositories"]
	path = .vim/addons/vim-addon-manager-known-repositories
	url = git://github.com/MarcWeber/vim-addon-manager-known-repositories.git
[submodule ".vim/addons/vim-ipython"]
	path = .vim/addons/vim-ipython
	url = git://github.com/ivanov/vim-ipython
[submodule ".vim/bundle/AutoComplPop"]
	path = .vim/bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/Conque-Shell"]
	path = .vim/bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule ".vim/bundle/FuzzyFinder"]
	path = .vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/IndexedSearch"]
	path = .vim/bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/TaskList.vim"]
	path = .vim/bundle/TaskList.vim
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/Wombat"]
	path = .vim/bundle/Wombat
	url = git://github.com/vim-scripts/Wombat.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/fisa-vim-colorscheme"]
	path = .vim/bundle/fisa-vim-colorscheme
	url = git://github.com/fisadev/fisa-vim-colorscheme.git
[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/pydoc.vim"]
	path = .vim/bundle/pydoc.vim
	url = git://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/pyflakes.vim"]
	path = .vim/bundle/pyflakes.vim
	url = git://github.com/vim-scripts/pyflakes.vim.git
[submodule ".vim/bundle/sparkup"]
	path =  .vim/bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule ".vim/bundle/tabman.vim"]
	path = .vim/bundle/tabman.vim
	url = git://github.com/kien/tabman.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-debug"]
	path = .vim/bundle/vim-debug
	url = git://github.com/jabapyth/vim-debug.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
